body{
	margin:0;
	padding:0;
    
	
}

#main_wrapper{
	font-family: 'Dosis';
	font-size: 12px;
}

.timeline{
	position: absolute;
	width:100%;
}

.map_item {
	position: absolute;
	float:left;
}

.node_image {
  background-color: #fff;
  border: 10px solid #d9d9d9;
  
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size:cover;
  background-position:50% 50%;
  
  -webkit-box-shadow: 7px 6px 21px 1px rgba(0,0,0,0.31);
  -moz-box-shadow: 7px 6px 21px 1px rgba(0,0,0,0.31);
  box-shadow: 7px 6px 21px 1px rgba(0,0,0,0.31);
  
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.node_image:before {
  background: none;
  border: 1px solid #b9b9b9;
  border-radius: 50%;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.node_image:after {
  background: none;
  border: 1px solid #c5c5c5;
  border-radius: 50%;
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  pointer-events: none;
}

#meter{
    width: 90%;
    height: 51px;
    position: absolute;
    bottom: 0;
/*    font-family: helvetica;*/
    font-size: 12px;
    overflow: hidden;
    border-right: 1px solid #ccc;
    left: 5%;
}

.hidden{
  display:none;
}

.full_border{
	border-top:1px solid #eee;
/*	border-bottom:1px solid #ccc;*/
}

#main_meter{
    height: 50px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    position: absolute;
    width: 10000px;
}

.division{
	border-right:1px solid #ccc;
	height:50px;
/*	float:left;*/
	position:absolute;

}

.division_secs {
	padding:10px;
	cursor:pointer;
	color:#3d7411;
	z-index:100;
}

.clear_both{
	clear:both;
}

#info{
	position:fixed;
	top:10px;
	left:10px;
	border:1px solid #ccc;
	display:none;
}

#svg_map{
	position: absolute;
    width: 100%;
    height: 99.3%;
    margin: 0;
    padding: 0;
}

.node_date{
    position: absolute;
    text-align: center;
/*    font-family: Helvetica;*/
    font-weight: lighter;
    color: #000;
    font-size: 12px;
    background-color: #fff;
}

.node_title{
    position: absolute;
    text-align: center;
/*    font-family: Helvetica;*/
    font-weight: normal;
    color: #000;
    font-size: 16px;
    background-color: #fff;
}

#search{
    margin: 10px auto;
    position: absolute;
    z-index: 10;
    left: 670px;
}

#shortcuts{
	z-index: 10;
    position: absolute;
    right: 20px;
    text-align: right;
}

#shortcuts ul{
	list-style:none;
}

#shortcuts li{
	cursor:pointer;
	color:#7ba0de;
}

.map_item{
	cursor:pointer;
}

#node_details_wrapper{
	display:none;
  width: 52%;
  background-color: #fff;
  position: fixed;
  border: 1px solid #ccc;
  padding: 10px;
  top: 47px;
  left: 30%;
  z-index: 11;
  max-height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Dosis';
}

#shade_in {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
    
    background:  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
}

.close{
	  display:none;
    width: 8px;
    height: 14px;
    border: 1px solid #000;
    cursor: pointer;
    position: fixed;
    background-color: #eee;
    padding: 3px 5px;
    font-weight: bolder;
    font-family: arial;
    top: 25px;
    left: 29.2%;
    z-index: 12;
}

#node_details .item-list h2{
	display:none;
}

#node_details{
	font-family:helvetica;
	font-size:12px;
}

#node_details .item-list .media-youtube-video iframe{
  width:180px;
  height:136px;
}

#node_details .item-list ul{
  margin:12px 0 0 0px;
  padding:0px;
}

#node_details .item-list ul li{
    margin: 0px;
    padding: 0px 10px 16px;
    display: inline;
    float: left;
    width: 219px;
}

.node_title_in_details{
	font-weight:bold;
}

#shade{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    display:none;
}

.node-book{
	font-family:helvetica;
	font-size:12px;
}

.node-book h2{
	display:block !important;
	font-size:12px;
	text-decoration:none;
	color:#000;
	font-weight:bold;
	
}

.node-book h2 a{
  text-decoration:none;
  color:#000;
  font-weight:bold;
}

.node-book .field-name-field-image {
	    float: left;
    padding: 0 10px 0 0;
}

.node-book .field-name-field-isbn .field-label{
	float: left;
}

.node-book{
  border: 1px solid #ccc;
  padding: 0 8px 5px 8px;
  min-height: 240px;
}

#node_details .item-list{
	clear:both;
}

.date_in_details{
  font-style: italic;
  color: #555;
}

.first_details_wrapper{
  padding: 10px;    
}

.node_title_in_details{
  padding: 6px 0;
}

.admin_links{
  margin: 0 0 10px 0;
}

#node_details .item-list ul li .node-video{
	text-align:center;
}

#node_details_wrapper .tags ul li{
	cursor:pointer;
	font-size:bold;
	color:navy;
	text-align:center;
}

.delete{
	cursor:pointer;
}

.text_rest{
	display:none;
}

#language{
  position: absolute;
  top: 20px;
  left: 20px;
  display:none;
}




















